@import "/base/_colors"
@import "/base/_fonts"
@import "/base/_mixins"
@import "/base/typography"

.header {

.navbar {
 max-height 30px

.navbar-brand {

a {
 color dark
span {

}// span

}// a

a.navbar-burger {
 color nytt

&.is-active {
 color red
}// &.is-active

}// a.navbar-burger

}// .navbar-brand

.navbar-menu {

.navbar-start {

a.navbar-item {
 color dark
 text-align center
 text-decoration none

&:hover {
 background nytt
 color white
}// &:hover

}// a.navbar-item

}// .navbar-start

.navbar-end {

.navbar-item {
ul.uk-navbar-nav {

li {

a {
 color red

i {
 color gray
}// i

span {
 color gray
}// span

&.uk-link-reset {
 color dark
}// &.uk-link-reset

}// a

}// li

}// ul-uk-navbar-nav

}// .navbar-item

}// .navbar-end

}// .navbar-menu

}// .navbar

}// .header